/* fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       url('../fonts/PTSans.woff2') format('woff2'),
       url('../fonts/PTSans.woff') format('woff'),
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       url('../fonts/PTSans-Bold.woff2') format('woff2'),
       url('../fonts/PTSans-Bold.woff') format('woff'), 
}

/* root */

:root {
	--basic-black: #000000;
	--basic-grey: #EEEEEE;
	--text-hover-blue: #81B3D2;
	--text-active-brown: #766357;
	--basic-white: #FFFFFF;

/* button colors */
/* more */
	--button-more-regular: #81B3D2;
	--button-more-hover: #669EC0;
	--button-more-active: #5496BD;
/* book */
	--button-book-regular: #766357;
	--button-book-hover: #604E43;
	--button-book-active: #503E33;
}

.page{
	height: 100%;
}
/* для всех секций: хедер, футер...  */
.container{

}

.header-logo{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%)
}

/* body */
.page-body{

	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	height: 100%;	
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-img{
	position: relative;
	background: url(../img/background_photo.jpg) no-repeat var(--button-book-regular);
	width: 1200px;
	height: 509px;
	margin-bottom: 20px;
	z-index: -1;
}

.baner-shape{
	position: absolute;
	bottom: 0;
}

.baner-text{
	position: absolute;
	width: 1200px;
	text-align: center;
	bottom: 50%;
	transform: translateX(10px); /* не могу понять почему не работает */
	transform: translateY(50%);
}

/* navigation */
.site-navigation{	
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;	
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.navigation_item{
	display: inline;
	height: 26px;
	margin: 15px 0;
	width: 228px;
	text-align: right;
}

.navigation_item a,{
	text-decoration: none;
	color: var(--basic-black);
}

.navigation_item a:hover{
	text-decoration: none;
	color: var(--text-hover-blue);

}
.navigation_item a:active{
	text-decoration: none;
	color: var(--basic-black);
	opacity: 0.3;
}

.navigation_item:first-child {
	text-align: left;
}

.navigation_item:first-child a{
	margin-left: 72px; 
}

.navigation_item:nth-child(2){
	margin-right: auto;
	text-align: left;
}
.navigation_item:nth-child(2) a{
	margin-left: 72px; 
}

.navigation_item:nth-child(3) a{
	margin-right: 72px; 
}

.navigation_item:last-child a{
	margin-right: 72px;
}

/* title_main_page           serch_result hotel_name */
.title-big{
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

/* features */
.main-heading-wraper{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 216px;
}

.main-heading-wraper h1, h2{
	margin: 0;
	padding: 0;
}

.main-heading{
	width: 470px;
	text-align: center;
	margin-top: 42.5px;
	margin-bottom: 16.5px;
}

.features-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.features-list-more{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	padding: 0;
	text-align: center;
}

.features-item-more{
display: flex;
flex-direction: column;
align-items: center;
}

.features-item-more img {
  margin-bottom: 28px;
}

.features-item-more p {
  margin-bottom: 82px;
  width: 300px;
}

.features-item-more span{
	margin-bottom: 23px;
}

.feature-title{
	font-weight: 700;
	font-size: 21px;
	line-height: 21px;
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 0px;
}

.features-heading{
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

.big-features-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;	
	background-color: var(--text-hover-blue);
	color: var(--basic-white);
}

.big-features-text p {
  margin: 0 20px;
}

.feature-image{
	background-color: var(--button-book-regular);
	width: 800px;
	height: 256px;
}

.third-fourth-fifth-feature{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	text-align: center;
	background-color: var(--basic-grey);
	margin: 0px;
	padding-top: 47px;
	margin-bottom: 58px;
}

.third-fourth-fifth-feature p{
	margin-bottom: 54px;
	width: 250px;
}
/* appointment */
.appointment{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.appointment p{

}

.appointment-title{
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;
}

/* hidden */

.hidden{
	display: none;
}

/* map */
.map{

}

/* footer */
.main-footer{
	display: flex;
	justify-content: space-around;
/*	position: absolute;
	bottom: 0;*/
	max-width: 1200px;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
}

.footer-flex{


}

.phone{	
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.phone a, .footer-phone a{
	text-decoration: none;
	color: var(--basic-black);
}

.phone a:hover, .footer-phone a:hover{
	text-decoration: none;
	color: var(--text-hover-blue);

}
.phone a:active, .footer-phone a:active{
	text-decoration: none;
	color: var(--basic-black);
	opacity: 0.3;
}

.social-button-list{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
	text-align: center;
}

.social-button-item{
	width: 46px;
	height: 48px;
	display: inline;
	margin-right: 6px;
	background-color: var(--text-hover-blue);
}

/*------------------------hotels.html------------------------------------*/
/* header */
.hotels-page a{
 
}

/* search_form */
.search-form{
	
	background: url(../img/background.jpg) no-repeat var(--button-book-regular);
	width: 1200px;
	height: 217px;
	text-align: center;
}

/* result_field */
.search-result{
	display: grid;
	grid-template-columns: 135px 1fr max-content;
}

.up-down-order-list{
	padding: 0;
	list-style: none;	
}

.up-down-order-item{
	display: inline;
}

.hotels-item-grid{
	display: grid;
	grid-template-columns: 135px 1fr max-content;	
}

.hotel-variant{
	padding-left: 29px;
}

.hotel-variant .hotel-price{
	display: flex;

	/*border: 1px solid black;*/
}

.hotel-price{
	padding-bottom: 15.5px
}

.hotel-type{
	flex-basis: 110px;
	margin-right: 9px; /* не могу понять почему 6 пикселей не хватает, руками подобрал 9, хотя размер блоков текста и кнопок одинаковый, кнопкам 6 хватает, а тексту нет */
	}

.price{
	flex-basis: 142px;
}

.hotel-variant .title-flex{
	display: flex;
	margin: ;
	/*border: 1px solid black;*/
	flex-wrap: wrap;
	justify-content: space-between;
}

 .button-flex{
	display: flex;
	/*border: 1px solid black;*/
	flex-wrap: wrap;
	justify-content: space-between;
}

.reiting{
	display: block;
	background-color: var(--basic-grey);
	width: 110px;
	height: 27px;
	text-align: center;	
	padding-top: 3px;
}

.hotel-name{
	text-align: left;
	margin: 0;
	padding-top: 23.5px;
}

.hotel-name a{
	color: var(--basic-black);
	text-decoration: none;
}

.hotel-name a:hover{
	color: var(--text-hover-blue);
}
.hotel-name a:active{
	color: var(--basic-black);
	opacity: 0.3;
}

.stars{
	padding-top: 29px;
}

.search-result p{
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.hotels-result-list{
	list-style: none;
	padding: 0;
}

.hotels-result-item{
	padding: 30px 0;
}

.hotels-result-item img{
	padding-top: 30px;
}

/* buttons */
.button{	
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	width: 110px;
	height: 27px;
	text-transform: uppercase;
  border-width: 0;
  border-radius: 0px;
	color: var(--basic-white);
	padding: 3px 16px;	
}

.sorting-button{
	background: none; 
	color: var(--basic-black);
	opacity: 0.3;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	text-decoration: 1px dashed var(--text-hover-blue);
}



/* more_button */
.more-button{	
	background-color: var(--button-more-regular);
	width: 110px;
	margin-right: 6px;

}
.more-button:hover{
	background-color: var(--button-more-hover);
}
.more-button:active{
	background-color: var(--button-more-active);
	border-width: 0;
}

/* book_button */
.book-button{
	width: 142px;
	background-color: var(--button-book-regular);
}
.book-button:hover{
	background-color: var(--button-book-hover);
}
.book-button:active{
	background-color: var(--button-book-active);
	border-width: 0;
}



