/* Fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       url('../fonts/PTSans.woff2') format('woff2'),
       url('../fonts/PTSans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       url('../fonts/PTSans-Bold.woff2') format('woff2'),
       url('../fonts/PTSans-Bold.woff') format('woff');
}

/* Root */

:root {
	--basic-black: #000000;
	--basic-grey: #EEEEEE;
	--border-grey: #E5E5E5;
	--form-grey: #F2F2F2;
	--form-hover-grey: #EBEBEB;
	--up-down-order-grey: #CACACA;
	--footer-grey: #BDBBBC;
	--toggle-grey: #ABABAB;
	--text-hover-blue: #81B3D2;
	--text-active-brown: #766357;
	--basic-white: #FFFFFF;

/* Button colors */
/* More */
	--button-more-regular: #81B3D2;
	--button-more-hover: #669EC0;
	--button-more-active: #5496BD;
/* Book */
	--button-book-regular: #766357;
	--button-book-hover: #604E43;
	--button-book-active: #503E33;
}

.page{
	height: 100%;
}

/* для всех секций: хедер, футер...  */
/*.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	height: 100%;	
}*/

.header-logo{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

/* Body */
.page-body{
	position: relative;
	display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
	max-width: 1200px;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.hero{
	position: relative;
	z-index: -1;
	width: 1200px;
	height: 509px;
	margin-bottom: 41.5px;
	background: url(../img/background_photo.jpg) no-repeat var(--button-book-regular);
}

.hero-shape{
	position: absolute;
	bottom: 0;
 }

.baner-text{
	position: absolute;
	bottom: 50%;
	width: 1200px;
	text-align: center;
	transform: translateX(10px);
	transform: translateY(50%);
}

/* Navigation */
.site-navigation{	
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	list-style: none;
}

.navigation-item{
	display: inline;
	width: 228px;
	height: 26px;
	margin: 15px 0;
	text-align: right;
}

.navigation-item a{
	text-decoration: none;
	color: var(--basic-black);
}

.navigation-item a:hover{
	text-decoration: none;
	color: var(--text-hover-blue);
}
.navigation-item a:active{
	text-decoration: none;
	color: var(--basic-black);
	opacity: 0.3;
}

.active a{
	color: var(--text-active-brown);
}

.navigation-item:first-child {
	text-align: left;
}

.navigation-item:first-child a{
	margin-left: 72px; 
}

.navigation-item:nth-child(2){
	margin-right: auto;
	text-align: left;
}
.navigation-item:nth-child(2) a{
	margin-left: 72px; 
}

.navigation-item:nth-child(3) a{
	margin-right: 72px; 
}

.navigation-item:last-child a{
	margin-right: 72px;
}

/* Title_main_page           Serch_result hotel_name */
.title-big{
	margin-bottom: auto;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

/* Features */
.main-heading-wraper{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.main-heading-wraper h1, h2{
	margin: 0;
	padding: 0;
}

.main-heading{
	width: 470px;
	margin-bottom: 40px;
	text-align: center;
}

.features-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 256px 256px;
	margin: 0;
	padding: 0;
  list-style: none;
}

.features-list p{
	margin: 0;
	margin-left: 25px;
	margin-right: 25px;
}

.features-list li:nth-child(1){
	grid-column: 1 / 2;
	grid-row: 1 /2;
}

.features-list li:nth-child(2){
	grid-column: 2 / -1;
	grid-row: 1 /2;
}

.features-list li:nth-child(6){
	grid-column: 3 / -1;
	grid-row: 3 /4;
}

.features-list li:nth-child(7){
	grid-column: 1 / 3;
	grid-row: 3 /4;
}

.feature-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.feature-item:nth-child(3)::before {
	content: url("../img/icon-1_home.svg");
	margin-bottom: 28px;
}

.feature-item:nth-child(4)::before { 
	content: url("../img/icon-3_burger.svg");
	margin-bottom: 29px;
}

.feature-item:nth-child(5)::before { 
	content: url("../img/icon-2_present.svg"); 
	margin-bottom: 28px;
}

.feature-logo p{
	margin-left: 50px;
	margin-right: 50px;
}

.feature-title{
	margin-bottom: 25px;
	margin-left: 100px;
	margin-right: 100px;
	font-weight: 700;
	font-size: 21px;
	line-height: 21px;
}

.features-heading{
	margin-bottom: 51px;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

.big-features-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;	
	color: var(--basic-white);
	background-color: var(--text-hover-blue);
}

.feature-number{
	margin-bottom: 23px;
}

.feature-image{	
	width: 800px;
	height: 256px;
	background-color: var(--button-book-regular);
	object-fit: contain;
}

.features-item-more{
	color: var(--basic-black);
	background-color: var(--basic-grey);
}

.features-item-more p{
	margin-left: 50px;
	margin-right: 50px;
}

/* Appointment */
.appointment{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 58px;
	text-align: center;
}

.appointment-title{
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;	
}

.appointment a{
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	width: 568px;
	min-height: 86px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: var(--basic-white);
	background-color: var(--button-book-regular);
}

.appointment a:hover{
	background-color: var(--button-book-hover);
}

.appointment a:active {
	color: rgba(255,255,255,0.3);
	background-color: var(--button-book-active);
}

/* Search_form*/

.date-choice-form{
	position: absolute;
	bottom: -396px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 568px;
  padding: 55px 0;
  font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	background: var(--basic-white);
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.date-choice-form input[type="text"]{
	height: 38px;
	padding: 0;
	padding-left: 13px;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	text-transform: uppercase;
	border: none;
	background-color: var(--form-grey);
}

.date-choice-form input[type="text"]:hover{
	background-color: var(--form-hover-grey);
}

.date-choice-form input[type="text"]:focus{
	background: var(--basic-white);
	outline: 2px solid var(--border-grey);
}

.adults-children{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.adults-children input[type="text"]{
	width: 38px;
	height: 38px;
	padding: 0;
	text-align: center;
}

.adults{
	display: flex;
	justify-content: space-between;
	padding-right: 5px;
}

.children{
	display: flex;
	justify-content: flex-end;
}

.children label{
	margin-right: 27px; 
}

.booking-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 458px;
	margin-bottom: 30px;
}

.booking-item:nth-child(3){
	margin-bottom: 54px;
}

.date-booking{
	width: 295px;
}

.date-choice{
	display: flex;
	height: 38px;	
}

/* Visually-hidden */

.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/* Footer */
.main-footer{
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: 120px;
	background: rgba(255, 255, 255, 0.9);
}

.contacts{
	align-self: center;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.contacts a, 
.contacts a{
	text-decoration: none;
	color: var(--basic-black);
}

.contacts a:hover, 
.contacts a:hover{
	text-decoration: none;
	color: var(--text-hover-blue);

}
.contacts a:active, 
.contacts a:active{
	text-decoration: none;
	color: var(--basic-black);
	opacity: 0.3;
}

.social-button-list{
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 0;
	text-align: center;
	list-style: none;
}

.social-button-item{
	display: inline;
	position: relative;	
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: var(--text-hover-blue);
}

.social-button-item a:hover{
	background-color: var(--button-more-hover);
}

.social-button-item a:active {
	background-color: var(--button-more-active);
}

.social-button-item:active img{
	opacity: 0.3;
}

.social-button-item:last-child{
	margin-right: 0;
}

.social-button{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.social-button img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.footer-copyright{
	display: flex;
	align-items: center;
}

.website-by{
	padding-right: 8px;
}

.logo-svg:hover path{
	fill: var(--text-hover-blue);
}

.logo-svg:active path{
	fill: var(--footer-grey);
}
/*------------------------------------hotels.html------------------------------------*/

/* Search_form */
.search-field{
	padding: 26px 73px 17px 72px;
	color: var(--basic-white);
	background: url(../img/background.jpg) no-repeat var(--button-book-regular);
}

.search-form{
	display: flex;
	justify-content: space-between;
}

.checkbox-groupe fieldset{
	margin: 0 120px 0 0;
	padding: 0;
	border: none;
}

.option{
	display: block;
	margin-bottom: 23px;
}

.check{
	padding-left: 40px;
}

.check-input{
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check-box{
	position: absolute;
	margin-left: -40px; 
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
}

/* Checked */
.check-input:checked + .check-box{
	width: 27px;
	background-image: url(../img/checkbox-on.svg);
}

/* Disabled */
.check-input:disabled + .check-box{
	background-image: url(../img/checkbox-disabled-off.svg);
}

.check-input:checked:disabled + .check-box{
	background-image: url(../img/checkbox-disabled-on.svg);
	width: 27px;
}

.scale-groupe fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

.search-form legend{
	font-weight: 700;
	font-size: 16px;
}

.checkbox-groupe legend{
	margin-bottom: 24px;
}

.checkbox-groupe{
	display: flex;
}

.infrastructure{
	display: flex;
	flex-direction: column;
}

.range-filter {
  width: 313px;
  margin-top: 10px;
}

.range-controls {
	position: relative;
	margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
	position: absolute;
	top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgb(171 171 171 / 30%);
  cursor: pointer;
}

.range-controls .toggle:hover {
	top: -10px;
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgb(171 171 171 / 30%);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 80%;
}

.price-controls {
	position: relative;
	display: flex;
	align-items: center;
  height: 32px;
  margin-bottom: 11px;
  margin-bottom: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls .min-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls .max-price {
	width: 90px;
	padding-left: 50px;
}

.scale-groupe-submit{
	display: flex;
	justify-content: center;
}

.lodging-type{
	display: flex;
	flex-direction: column;
}

.lodging-type{
	display: flex;
	flex-direction: column;
}

/* Result_field */
.search-result{
	display: flex;
	justify-content: space-between;
	padding: 30px 73px;
}

.search-result-account{
	min-width: 135px;
}

.hotel-sort{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 29px;
}

.sort-title{
	margin-right: 40px;
}

.up-down-order-list{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.up-down-order-item:last-child{
	margin-left: 12px;
}

.up-down-order-item path{
	fill: var(--up-down-order-grey);
}
.up-down-order-item:hover path{
	fill: var(--basic-black);
}

.up-down-order-item:active path{
	fill: var(--text-hover-blue);
}

.ordered path{
	fill: var(--text-hover-blue);
}

.hotels-item-flex{
	display: flex;
}

.hotel-variant{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 29px;
}

.hotel-variant .hotel-price{
	display: flex;
}

.hotel-price{
	padding-bottom: 15.5px
}

.hotel-type{
	flex-basis: 110px;
	margin-right: 9px;
}

.price{
	flex-basis: 142px;
}

.hotel-variant .title-flex{
	flex-direction: column;
}

.hotel-variant .rating{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.stars-list {
	display: flex;
}

.stars-item{
	display: inline;
	width: 19px;
  height: 17px;
  margin-left: 5px;
  background-image: url(../img/star.svg);
}

.reiting-point{
	background-color: var(--basic-grey);
}

.reiting-point {
	padding: 3px 12px 3px 15px;
}

.hotel-name{
	text-align: left;
}

.hotel-name a{
	color: var(--basic-black);
	text-decoration: none;
}

.hotel-name a:hover{
	color: var(--text-hover-blue);
}
.hotel-name a:active{
	color: var(--basic-black);
	opacity: 0.3;
}

.hotels-result-list{
	padding: 0;
	margin: 0;
	list-style: none;
}

.hotels-result-item{
	padding: 30px 73px;
	border-top: 1px solid var(--border-grey);
}

.hotels-result-item:last-child{
	border-bottom: 1px solid var(--border-grey);
}

/* Buttons */
.button{	
	width: 110px;
	height: 27px;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white);
	text-transform: uppercase;
  border-width: 0;
  border-radius: 0;
}

.scale-groupe-button{
	width: 137px;
	height: 36px;
	margin: 0 auto;
	font-weight: 400;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.scale-groupe-button:hover{
	color: var(--basic-black);
  background: var(--basic-white);
}

.date-choice-button{
	display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 458px;
	min-height: 58px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	background-color: var(--button-more-regular);
}

.date-choice-button:hover{
	background-color: var(--button-more-hover);
}

.date-choice-button:active{
	color: rgba(255,255,255,0.3);
	background-color: var(--button-more-active);
}

.date-choice-button span{
	padding-top: 16px;
	padding-bottom: 16px;
}

.form-button{	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
}

.form-button:hover path{
	fill: var(--basic-black);
}

.form-button:active path{
	fill: var(--text-hover-blue);
}

.sorting-button{
	width: auto;
	height: auto;
	margin-right: 32px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
	background: none; 
	border-bottom: 1px dashed var(--text-hover-blue);
}

.sorting-button:hover{
	color: var(--text-hover-blue);
}

.sorting-button:active{
	color: var(--basic-black);
	border-bottom: none;
}

.sorting-button-active{
	color: var(--text-hover-blue);
	border-bottom: none;
}

/* More_button*/
.more-button{
	min-width: 110px;
	margin-right: 6px;
	background-color: var(--button-more-regular);
}

.more-button:hover{
	background-color: var(--button-more-hover);
}

.more-button:active{
	color: rgba(255,255,255,0.3);
	background-color: var(--button-more-active);
}

/* Book_button */
.book-button{
	min-width: 142px;
	background-color: var(--button-book-regular);
}

.book-button:hover{
	background-color: var(--button-book-hover);
}

.book-button:active{
	color: rgba(255,255,255,0.3);
	background-color: var(--button-book-active);
}